@page
@model NetCore.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Top Orders per Country</h2>

<table>
    @foreach (var country in Model.CountryOrderFlags)
    {
        <tr>
            <td><img src="@country.FlagUrl" /></td>
            <td style="width: 200px">@country.CountryName</td>
            <td>@country.OrderCount</td>
        </tr>
    }
</table>

