@model IEnumerable<DotNetFourFiveTwo.Services.CountryOrderFlag>
<table>
    @foreach(var country in Model)
    {
    <tr>
        <td style="width: 200px">@country.CountryName</td>
        <td>@country.OrderCount</td>
    </tr>
    }
</table>